{{- if and (include "acapy.database.createSecret" .) .Values.postgres.enabled -}}
{{ $databaseSecretName := (include "acapy.database.secretName" .) }}
{{ $adminPassword := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $databaseSecretName "Key" "postgres-password" "Length" 32) }}
{{ $userPassword := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $databaseSecretName "Key" "password" "Length" 32) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $databaseSecretName }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
  {{- if .Values.secrets.database.retainOnUninstall }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  database: {{ (.Values.postgres.customUser.database | default .Values.postgres.customUser.name) | b64enc | quote }}
  password: {{ $userPassword }}
  postgres-password: {{ $adminPassword }}
  user: {{ .Values.postgres.customUser.name | b64enc | quote }}
{{- end }}
