{{- if and (include "acapy.database.createSecret" .) .Values.postgres.enabled -}}
{{ $databaseSecretName := (include "acapy.database.secretName" .) }}
{{ $adminPassword := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $databaseSecretName "Key" "postgres-password" "Length" 32) }}
{{ $userPassword := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $databaseSecretName "Key" "password" "Length" 32) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $databaseSecretName }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: agent
  annotations:
    {{- if .Values.secrets.database.retainOnUninstall }}
    "helm.sh/resource-policy": keep
    {{- end }}
    {{- if .Values.commonAnnotations }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
    {{- end }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  database: {{ (.Values.postgres.customUser.database | default .Values.postgres.customUser.name) | b64enc | quote }}
  password: {{ $userPassword }}
  postgres-password: {{ $adminPassword }}
  user: {{ .Values.postgres.customUser.name | b64enc | quote }}
{{- end }}
