{{- if not .Values.secrets.api.existingSecret }}
{{ $apiSecretName := (include "endorser-service.apiSecretName" .) }}
{{ $endorserAdminApiKey := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $apiSecretName "Key" "endorser-admin-api-key" "Length" 32) }}
{{ $webhookApiKey := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $apiSecretName "Key" "webhook-api-key" "Length" 32) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $apiSecretName }}
  namespace: {{ .Release.Namespace | quote }}
  {{- if .Values.secrets.api.retainOnUninstall }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  labels:
    {{- include "endorser-service.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
type: Opaque
data:
  endorser-admin-api-key: {{ $endorserAdminApiKey }}
  webhook-api-key: {{ $webhookApiKey }}
{{- end }}
