{{- if not .Values.secrets.jwt.existingSecret }}
{{ $jwtSecretName := (include "endorser-service.jwtSecretName" .) }}
{{ $jwtSecretKey := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $jwtSecretName "Key" "jwt-secret-key" "Length" 64) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $jwtSecretName }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "endorser-service.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
  {{- if .Values.secrets.jwt.retainOnUninstall }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
type: Opaque
data:
  jwt-secret-key: {{ $jwtSecretKey }}
{{- end }}
