apiVersion: v1
kind: Service
metadata:
  name: {{ include "endorser-service.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "endorser-service.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "endorser-service.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
