{{- if .Values.acapy.enabled }}
{{ $webhookSecretName := (include "endorser-service.webhookSecretName" .) }}
{{ $apiSecretName := (include "endorser-service.apiSecretName" .) }}
{{ $webhookApiKey := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $apiSecretName "Key" "webhook-api-key" "Length" 32) }}
{{ $endorserServiceUrl := printf "http://%s:%v/webhooks" (include "endorser-service.fullname" .) (.Values.service.port | int) }}
{{ $webhookUrl := printf "%s#%s" $endorserServiceUrl ($webhookApiKey | b64dec) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $webhookSecretName }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "endorser-service.labels" . | nindent 4 }}
    app.kubernetes.io/component: acapy
  {{- if .Values.secrets.api.retainOnUninstall }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
type: Opaque
data:
  ACAPY_WEBHOOK_URL: {{ $webhookUrl | b64enc | quote }}
{{- end }}
