autoscaling:
  enabled: false

acapy:
  image:
    # Use dev tag until release tag is published
    tag: "dev"
  autoscaling:
    enabled: false
  persistence:
    enabled: false
  postgresql:
    persistence:
      enabled: false

mongodb:
  persistence:
    enabled: false
