{{ $agentSecretName := printf "%s-agent" (include "mediator.fullname" .) }}
{{- $walletKey := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $agentSecretName "Key" "wallet-key" "Length" 32) }}
{{- $pickupJson := include "getOrCreateSecret" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $agentSecretName "Key" "pickup-connection-json" "DefaultValue" "{}") }}
{{- $firebaseApps := include "getOrCreateSecret" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $agentSecretName "Key" "firebase-apps" "DefaultValue" "[{}]") }}



apiVersion: v1
kind: Secret
metadata:
  name: {{ $agentSecretName }}
  labels:
    {{- include "mediator.labels" . | nindent 4 }}
  annotations:
    "helm.sh/resource-policy": keep
type: Opaque
data:
  wallet-key: {{ $walletKey }}
  pickup-connection-json: {{ $pickupJson }}
  firebase-apps: {{ $firebaseApps }}
