{{- if and (include "vc-authn-oidc.database.createSecret" .) (not .Values.externalMongodb.enabled) -}}
{{ $databaseSecretName := (include "vc-authn-oidc.databaseSecretName" .) }}
{{ $mongoRootPassword := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $databaseSecretName "Key" "mongodb-root-password" "Length" 32) }}
{{ $mongoReplicaSetKey := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $databaseSecretName "Key" "mongodb-replica-set-key" "Length" 32) }}
{{ $mongoPasswords := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $databaseSecretName "Key" "mongodb-passwords" "Length" 32) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $databaseSecretName }}
  labels:
    {{- include "vc-authn-oidc.labels" . | nindent 4 }}
  {{- if .Values.database.retainOnUninstall }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  mongodb-root-password: {{ $mongoRootPassword }}
  mongodb-replica-set-key: {{ $mongoReplicaSetKey }}
  mongodb-passwords: {{ $mongoPasswords }}
{{- end }}
---
{{- if (include "vc-authn-oidc.externalMongodb.createSecret" .) -}}
{{- $externalMongoSecretName := include "vc-authn-oidc.mongodb.secretName" . -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $externalMongoSecretName }}
  labels:
    {{- include "vc-authn-oidc.labels" . | nindent 4 }}
  {{- if .Values.externalMongodb.auth.retainOnUninstall }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  mongodb-password: {{ .Values.externalMongodb.auth.password | b64enc }}
{{- end }}
---
{{- if (include "vc-authn-oidc.api.createSecret" .) -}}
{{- $apiSecretName := include "vc-authn-oidc.apiSecretName" . -}}
{{- $controllerApiKey := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $apiSecretName "Key" "controllerApiKey" "Length" 32) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $apiSecretName }}
  labels:
    {{- include "vc-authn-oidc.labels" . | nindent 4 }}
  {{- if .Values.auth.api.retainOnUninstall }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  controllerApiKey: {{ $controllerApiKey }}
{{- end }}
---
{{- if (include "vc-authn-oidc.externalRedis.createSecret" .) -}}
{{- $externalRedisSecretName := include "vc-authn-oidc.externalRedis.secretName" . -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $externalRedisSecretName }}
  labels:
    {{- include "vc-authn-oidc.labels" . | nindent 4 }}
  {{- if .Values.externalRedis.auth.retainOnUninstall }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  redis-password: {{ .Values.externalRedis.auth.password | b64enc }}
{{- end }}
